body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1485px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:762px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:90px;
  width:428px;
  height:762px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:373px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:762px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:90px;
  width:428px;
  height:762px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:373px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:337px;
  width:302px;
  height:142px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:298px;
  word-wrap:break-word;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:194px;
  width:0px;
  height:0px;
}
#u37_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:342px;
  height:8px;
}
#u37_seg1 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:-4px;
  width:8px;
  height:5px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:132px;
  width:113px;
  height:16px;
  font-size:28px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:43px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:43px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:408px;
  width:0px;
  height:0px;
}
#u45_seg0 {
  border-width:0px;
  position:absolute;
  left:-250px;
  top:-4px;
  width:250px;
  height:8px;
}
#u45_seg1 {
  border-width:0px;
  position:absolute;
  left:-250px;
  top:-4px;
  width:8px;
  height:6px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
