body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1569px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1544px;
  height:939px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:19px;
  width:1544px;
  height:939px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:462px;
  width:1540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:762px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:90px;
  width:428px;
  height:762px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:373px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:762px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:90px;
  width:428px;
  height:762px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:373px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:337px;
  width:302px;
  height:142px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:298px;
  word-wrap:break-word;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:194px;
  width:0px;
  height:0px;
}
#u56_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:342px;
  height:8px;
}
#u56_seg1 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:-4px;
  width:8px;
  height:5px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:132px;
  width:113px;
  height:16px;
  font-size:28px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:43px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:43px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:408px;
  width:0px;
  height:0px;
}
#u64_seg0 {
  border-width:0px;
  position:absolute;
  left:-250px;
  top:-4px;
  width:250px;
  height:8px;
}
#u64_seg1 {
  border-width:0px;
  position:absolute;
  left:-250px;
  top:-4px;
  width:8px;
  height:6px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
