body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1973px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1973px;
  height:1827px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1973px;
  height:1827px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:906px;
  width:1969px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:89px;
  width:427px;
  height:760px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:89px;
  width:427px;
  height:760px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:956px;
  width:427px;
  height:760px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:956px;
  width:427px;
  height:760px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:89px;
  width:427px;
  height:760px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:33px;
  width:289px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:56px;
  width:174px;
  height:58px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:134px;
  width:174px;
  height:81px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:170px;
  word-wrap:break-word;
}
#u872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:232px;
  width:174px;
  height:58px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:310px;
  width:174px;
  height:105px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:85px;
  width:0px;
  height:0px;
}
#u876_seg0 {
  border-width:0px;
  position:absolute;
  left:-414px;
  top:-4px;
  width:414px;
  height:8px;
}
#u876_seg1 {
  border-width:0px;
  position:absolute;
  left:-414px;
  top:-4px;
  width:8px;
  height:31px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:-268px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:175px;
  width:0px;
  height:0px;
}
#u878_seg0 {
  border-width:0px;
  position:absolute;
  left:-301px;
  top:-4px;
  width:301px;
  height:8px;
}
#u878_seg1 {
  border-width:0px;
  position:absolute;
  left:-301px;
  top:-4px;
  width:8px;
  height:63px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:-228px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:261px;
  width:0px;
  height:0px;
}
#u880_seg0 {
  border-width:0px;
  position:absolute;
  left:-257px;
  top:-4px;
  width:257px;
  height:8px;
}
#u880_seg1 {
  border-width:0px;
  position:absolute;
  left:-257px;
  top:-4px;
  width:8px;
  height:66px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:-208px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:363px;
  width:0px;
  height:0px;
}
#u882_seg0 {
  border-width:0px;
  position:absolute;
  left:-333px;
  top:-4px;
  width:333px;
  height:8px;
}
#u882_seg1 {
  border-width:0px;
  position:absolute;
  left:-333px;
  top:-4px;
  width:8px;
  height:116px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:-270px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:432px;
  width:51px;
  height:16px;
  color:#999999;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:673px;
  width:51px;
  height:16px;
  color:#999999;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:363px;
  width:0px;
  height:0px;
}
#u888_seg0 {
  border-width:0px;
  position:absolute;
  left:-171px;
  top:-4px;
  width:171px;
  height:8px;
}
#u888_seg1 {
  border-width:0px;
  position:absolute;
  left:-171px;
  top:-4px;
  width:8px;
  height:124px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:432px;
  width:174px;
  height:105px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:485px;
  width:0px;
  height:0px;
}
#u892_seg0 {
  border-width:0px;
  position:absolute;
  left:-122px;
  top:-4px;
  width:122px;
  height:8px;
}
#u892_seg1 {
  border-width:0px;
  position:absolute;
  left:-122px;
  top:-47px;
  width:8px;
  height:51px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:-132px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:485px;
  width:0px;
  height:0px;
}
#u894_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:154px;
  height:8px;
}
#u894_seg1 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:-1px;
  width:8px;
  height:5px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:884px;
  width:385px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:985px;
  width:174px;
  height:149px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:170px;
  word-wrap:break-word;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:1060px;
  width:0px;
  height:0px;
}
#u900_seg0 {
  border-width:0px;
  position:absolute;
  left:-131px;
  top:-4px;
  width:131px;
  height:8px;
}
#u900_seg1 {
  border-width:0px;
  position:absolute;
  left:-131px;
  top:-43px;
  width:8px;
  height:47px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:-135px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:33px;
  width:385px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:33px;
  width:289px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:1203px;
  top:909px;
  width:417px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:1690px;
  top:247px;
  width:174px;
  height:58px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:1690px;
  top:377px;
  width:174px;
  height:99px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:170px;
  word-wrap:break-word;
}
#u912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:1405px;
  top:432px;
  width:51px;
  height:16px;
  color:#999999;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:1405px;
  top:703px;
  width:51px;
  height:16px;
  color:#999999;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:1301px;
  width:51px;
  height:16px;
  color:#999999;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:1542px;
  width:51px;
  height:16px;
  color:#999999;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:1405px;
  top:1301px;
  width:51px;
  height:16px;
  color:#999999;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:1405px;
  top:1542px;
  width:51px;
  height:16px;
  color:#999999;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:1690px;
  top:276px;
  width:0px;
  height:0px;
}
#u924_seg0 {
  border-width:0px;
  position:absolute;
  left:-406px;
  top:-4px;
  width:406px;
  height:8px;
}
#u924_seg1 {
  border-width:0px;
  position:absolute;
  left:-406px;
  top:-151px;
  width:8px;
  height:155px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:-326px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:1690px;
  top:427px;
  width:0px;
  height:0px;
}
#u926_seg0 {
  border-width:0px;
  position:absolute;
  left:-113px;
  top:-4px;
  width:113px;
  height:8px;
}
#u926_seg1 {
  border-width:0px;
  position:absolute;
  left:-113px;
  top:-4px;
  width:8px;
  height:5px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:1690px;
  top:965px;
  width:174px;
  height:99px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:1690px;
  top:1015px;
  width:0px;
  height:0px;
}
#u930_seg0 {
  border-width:0px;
  position:absolute;
  left:-162px;
  top:-4px;
  width:162px;
  height:8px;
}
#u930_seg1 {
  border-width:0px;
  position:absolute;
  left:-162px;
  top:-4px;
  width:8px;
  height:6px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:-130px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
