body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2521px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2503px;
  height:998px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:26px;
  width:2503px;
  height:998px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:491px;
  width:2499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:114px;
  width:427px;
  height:760px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:52px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:82px;
  width:174px;
  height:58px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:52px;
  width:353px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:2019px;
  top:114px;
  width:427px;
  height:760px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:82px;
  width:174px;
  height:58px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:52px;
  width:353px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:2136px;
  top:52px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:179px;
  width:174px;
  height:58px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:170px;
  word-wrap:break-word;
}
#u766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:278px;
  width:174px;
  height:106px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:170px;
  word-wrap:break-word;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:111px;
  width:0px;
  height:0px;
}
#u768_seg0 {
  border-width:0px;
  position:absolute;
  left:-432px;
  top:-4px;
  width:432px;
  height:8px;
}
#u768_seg1 {
  border-width:0px;
  position:absolute;
  left:-432px;
  top:-4px;
  width:8px;
  height:33px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:-278px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:208px;
  width:0px;
  height:0px;
}
#u770_seg0 {
  border-width:0px;
  position:absolute;
  left:-248px;
  top:-4px;
  width:248px;
  height:8px;
}
#u770_seg1 {
  border-width:0px;
  position:absolute;
  left:-248px;
  top:-4px;
  width:8px;
  height:18px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:-179px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:331px;
  width:0px;
  height:0px;
}
#u772_seg0 {
  border-width:0px;
  position:absolute;
  left:-251px;
  top:-4px;
  width:251px;
  height:8px;
}
#u772_seg1 {
  border-width:0px;
  position:absolute;
  left:-251px;
  top:-4px;
  width:8px;
  height:27px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:-185px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:114px;
  width:427px;
  height:760px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  word-wrap:break-word;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:95px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:769px;
  width:425px;
  height:95px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:123px;
  width:78px;
  height:62px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:163px;
  width:174px;
  height:58px;
  color:#000000;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:1377px;
  top:114px;
  width:427px;
  height:760px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:364px;
  width:423px;
  word-wrap:break-word;
}
#u787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:1722px;
  top:119px;
  width:66px;
  height:62px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:62px;
  word-wrap:break-word;
}
#u789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:245px;
  width:174px;
  height:58px;
  color:#000000;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:326px;
  width:174px;
  height:58px;
  color:#FF0000;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:405px;
  width:174px;
  height:58px;
  color:#000000;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:489px;
  width:174px;
  height:82px;
  color:#000000;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:170px;
  word-wrap:break-word;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:111px;
  width:0px;
  height:0px;
}
#u797_seg0 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-4px;
  width:17px;
  height:8px;
}
#u797_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-15px;
  width:8px;
  height:19px;
}
#u797_seg2 {
  border-width:0px;
  position:absolute;
  left:-428px;
  top:-15px;
  width:419px;
  height:8px;
}
#u797_seg3 {
  border-width:0px;
  position:absolute;
  left:-428px;
  top:-15px;
  width:8px;
  height:42px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:-276px;
  top:-19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:111px;
  width:0px;
  height:0px;
}
#u799_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u799_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-4px;
  width:8px;
  height:32px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:192px;
  width:0px;
  height:0px;
}
#u801_seg0 {
  border-width:0px;
  position:absolute;
  left:-403px;
  top:-4px;
  width:403px;
  height:8px;
}
#u801_seg1 {
  border-width:0px;
  position:absolute;
  left:-403px;
  top:-4px;
  width:8px;
  height:30px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:-262px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:192px;
  width:0px;
  height:0px;
}
#u803_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:82px;
  height:8px;
}
#u803_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-4px;
  width:8px;
  height:27px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:274px;
  width:0px;
  height:0px;
}
#u805_seg0 {
  border-width:0px;
  position:absolute;
  left:-406px;
  top:-4px;
  width:406px;
  height:8px;
}
#u805_seg1 {
  border-width:0px;
  position:absolute;
  left:-406px;
  top:-4px;
  width:8px;
  height:28px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:-263px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:274px;
  width:0px;
  height:0px;
}
#u807_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u807_seg1 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-4px;
  width:8px;
  height:24px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:355px;
  width:0px;
  height:0px;
}
#u809_seg0 {
  border-width:0px;
  position:absolute;
  left:-402px;
  top:-4px;
  width:402px;
  height:8px;
}
#u809_seg1 {
  border-width:0px;
  position:absolute;
  left:-402px;
  top:-4px;
  width:8px;
  height:32px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:-263px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:355px;
  width:0px;
  height:0px;
}
#u811_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u811_seg1 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-4px;
  width:8px;
  height:22px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:434px;
  width:0px;
  height:0px;
}
#u813_seg0 {
  border-width:0px;
  position:absolute;
  left:-399px;
  top:-4px;
  width:399px;
  height:8px;
}
#u813_seg1 {
  border-width:0px;
  position:absolute;
  left:-399px;
  top:-4px;
  width:8px;
  height:35px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:-263px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:434px;
  width:0px;
  height:0px;
}
#u815_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:91px;
  height:8px;
}
#u815_seg1 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-4px;
  width:8px;
  height:36px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:530px;
  width:0px;
  height:0px;
}
#u817_seg0 {
  border-width:0px;
  position:absolute;
  left:-361px;
  top:-4px;
  width:361px;
  height:8px;
}
#u817_seg1 {
  border-width:0px;
  position:absolute;
  left:-361px;
  top:-4px;
  width:8px;
  height:47px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:-250px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:530px;
  width:0px;
  height:0px;
}
#u819_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u819_seg1 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:-4px;
  width:8px;
  height:44px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:599px;
  width:174px;
  height:82px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:170px;
  word-wrap:break-word;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:640px;
  width:0px;
  height:0px;
}
#u823_seg0 {
  border-width:0px;
  position:absolute;
  left:-248px;
  top:-4px;
  width:248px;
  height:8px;
}
#u823_seg1 {
  border-width:0px;
  position:absolute;
  left:-248px;
  top:-4px;
  width:8px;
  height:179px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:-260px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:640px;
  width:0px;
  height:0px;
}
#u825_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:258px;
  height:8px;
}
#u825_seg1 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:-4px;
  width:8px;
  height:162px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:1824px;
  top:114px;
  width:174px;
  height:158px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:170px;
  word-wrap:break-word;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:1824px;
  top:193px;
  width:0px;
  height:0px;
}
#u829_seg0 {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-4px;
  width:76px;
  height:8px;
}
#u829_seg1 {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-35px;
  width:8px;
  height:39px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:1998px;
  top:193px;
  width:0px;
  height:0px;
}
#u831_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:238px;
  height:8px;
}
#u831_seg1 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:-4px;
  width:8px;
  height:302px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
