body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1224px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:80px;
  width:427px;
  height:760px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:80px;
  width:427px;
  height:760px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:33px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:33px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:53px;
  width:174px;
  height:58px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:82px;
  width:0px;
  height:0px;
}
#u215_seg0 {
  border-width:0px;
  position:absolute;
  left:-440px;
  top:-4px;
  width:440px;
  height:8px;
}
#u215_seg1 {
  border-width:0px;
  position:absolute;
  left:-440px;
  top:-4px;
  width:8px;
  height:31px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:-282px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:129px;
  width:174px;
  height:83px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:171px;
  width:0px;
  height:0px;
}
#u219_seg0 {
  border-width:0px;
  position:absolute;
  left:-414px;
  top:-4px;
  width:414px;
  height:8px;
}
#u219_seg1 {
  border-width:0px;
  position:absolute;
  left:-414px;
  top:-4px;
  width:8px;
  height:20px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:-263px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:227px;
  width:174px;
  height:86px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:170px;
  word-wrap:break-word;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:270px;
  width:0px;
  height:0px;
}
#u223_seg0 {
  border-width:0px;
  position:absolute;
  left:-303px;
  top:-4px;
  width:303px;
  height:8px;
}
#u223_seg1 {
  border-width:0px;
  position:absolute;
  left:-303px;
  top:-4px;
  width:8px;
  height:8px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:-202px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:327px;
  width:174px;
  height:133px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:394px;
  width:0px;
  height:0px;
}
#u227_seg0 {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-4px;
  width:76px;
  height:8px;
}
#u227_seg1 {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-3px;
  width:8px;
  height:7px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:394px;
  width:0px;
  height:0px;
}
#u229_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:292px;
  height:8px;
}
#u229_seg1 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:-4px;
  width:8px;
  height:31px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:476px;
  width:174px;
  height:133px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:543px;
  width:0px;
  height:0px;
}
#u233_seg0 {
  border-width:0px;
  position:absolute;
  left:-123px;
  top:-4px;
  width:123px;
  height:8px;
}
#u233_seg1 {
  border-width:0px;
  position:absolute;
  left:-123px;
  top:-67px;
  width:8px;
  height:71px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:625px;
  width:174px;
  height:80px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:170px;
  word-wrap:break-word;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:665px;
  width:0px;
  height:0px;
}
#u237_seg0 {
  border-width:0px;
  position:absolute;
  left:-398px;
  top:-4px;
  width:398px;
  height:8px;
}
#u237_seg1 {
  border-width:0px;
  position:absolute;
  left:-398px;
  top:-4px;
  width:8px;
  height:134px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:-312px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:725px;
  width:174px;
  height:80px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:170px;
  word-wrap:break-word;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:765px;
  width:0px;
  height:0px;
}
#u241_seg0 {
  border-width:0px;
  position:absolute;
  left:-151px;
  top:-4px;
  width:151px;
  height:8px;
}
#u241_seg1 {
  border-width:0px;
  position:absolute;
  left:-151px;
  top:-4px;
  width:8px;
  height:39px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:-141px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
