body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:173px;
  width:427px;
  height:760px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:173px;
  width:427px;
  height:760px;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:1359px;
  top:173px;
  width:427px;
  height:760px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:111px;
  width:257px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:140px;
  width:174px;
  height:58px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:170px;
  word-wrap:break-word;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:169px;
  width:0px;
  height:0px;
}
#u386_seg0 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-4px;
  width:64px;
  height:8px;
}
#u386_seg1 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-4px;
  width:8px;
  height:34px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:208px;
  width:174px;
  height:58px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:170px;
  word-wrap:break-word;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:237px;
  width:0px;
  height:0px;
}
#u390_seg0 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:45px;
  height:8px;
}
#u390_seg1 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:8px;
  height:57px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:276px;
  width:174px;
  height:58px;
  color:#FF0000;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:170px;
  word-wrap:break-word;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:305px;
  width:0px;
  height:0px;
}
#u394_seg0 {
  border-width:0px;
  position:absolute;
  left:-205px;
  top:-4px;
  width:205px;
  height:8px;
}
#u394_seg1 {
  border-width:0px;
  position:absolute;
  left:-205px;
  top:-4px;
  width:8px;
  height:30px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:-164px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:344px;
  width:174px;
  height:58px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:373px;
  width:0px;
  height:0px;
}
#u398_seg0 {
  border-width:0px;
  position:absolute;
  left:-189px;
  top:-4px;
  width:193px;
  height:8px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:412px;
  width:174px;
  height:89px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:111px;
  width:257px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:457px;
  width:0px;
  height:0px;
}
#u404_seg0 {
  border-width:0px;
  position:absolute;
  left:-355px;
  top:-4px;
  width:355px;
  height:8px;
}
#u404_seg1 {
  border-width:0px;
  position:absolute;
  left:-355px;
  top:-4px;
  width:8px;
  height:108px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:-278px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:501px;
  width:0px;
  height:0px;
}
#u406_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:12px;
}
#u406_seg1 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:4px;
  width:198px;
  height:8px;
}
#u406_seg2 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:4px;
  width:8px;
  height:63px;
}
#u406_seg3 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:59px;
  width:5px;
  height:8px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:-169px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:562px;
  width:102px;
  height:36px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:690px;
  width:91px;
  height:35px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:690px;
  width:52px;
  height:35px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:836px;
  width:91px;
  height:35px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:836px;
  width:52px;
  height:35px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:518px;
  width:174px;
  height:146px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:170px;
  word-wrap:break-word;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:591px;
  width:0px;
  height:0px;
}
#u423_seg0 {
  border-width:0px;
  position:absolute;
  left:-212px;
  top:-4px;
  width:212px;
  height:8px;
}
#u423_seg1 {
  border-width:0px;
  position:absolute;
  left:-212px;
  top:-4px;
  width:8px;
  height:37px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:664px;
  width:0px;
  height:0px;
}
#u425_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u425_seg1 {
  border-width:0px;
  position:absolute;
  left:-252px;
  top:32px;
  width:256px;
  height:8px;
}
#u425_seg2 {
  border-width:0px;
  position:absolute;
  left:-252px;
  top:32px;
  width:8px;
  height:10px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:-159px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:713px;
  width:174px;
  height:55px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:741px;
  width:0px;
  height:0px;
}
#u429_seg0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:57px;
  height:8px;
}
#u429_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:8px;
  height:8px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:509px;
  width:174px;
  height:89px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:1154px;
  width:100px;
  height:60px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:1154px;
  width:100px;
  height:60px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:1184px;
  width:0px;
  height:0px;
}
#u439_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:1154px;
  width:0px;
  height:0px;
}
#u441_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-65px;
  width:8px;
  height:65px;
}
#u441_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-65px;
  width:79px;
  height:8px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-69px;
  width:100px;
  word-wrap:break-word;
}
#u443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:1063px;
  width:100px;
  height:60px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:1154px;
  width:100px;
  height:60px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:1154px;
  width:100px;
  height:60px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:1247px;
  width:100px;
  height:60px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:1214px;
  width:0px;
  height:0px;
}
#u451_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u451_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:59px;
  width:79px;
  height:8px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:55px;
  width:100px;
  word-wrap:break-word;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:1093px;
  width:0px;
  height:0px;
}
#u453_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:111px;
  height:8px;
}
#u453_seg1 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-4px;
  width:8px;
  height:65px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-24px;
  width:100px;
  word-wrap:break-word;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:1247px;
  width:0px;
  height:0px;
}
#u455_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-124px;
  width:8px;
  height:128px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-70px;
  width:100px;
  word-wrap:break-word;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:1184px;
  width:0px;
  height:0px;
}
#u457_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:129px;
  height:8px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:998px;
  width:257px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:38px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:548px;
  width:79px;
  height:38px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:546px;
  width:71px;
  height:43px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:67px;
  word-wrap:break-word;
}
#u466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:547px;
  width:71px;
  height:43px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:67px;
  word-wrap:break-word;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:554px;
  width:0px;
  height:0px;
}
#u468_seg0 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-4px;
  width:97px;
  height:8px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:615px;
  width:174px;
  height:119px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:170px;
  word-wrap:break-word;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:675px;
  width:0px;
  height:0px;
}
#u472_seg0 {
  border-width:0px;
  position:absolute;
  left:-258px;
  top:-4px;
  width:258px;
  height:8px;
}
#u472_seg1 {
  border-width:0px;
  position:absolute;
  left:-258px;
  top:-4px;
  width:8px;
  height:9px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:-180px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:752px;
  width:174px;
  height:119px;
  color:#FF0000;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:170px;
  word-wrap:break-word;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:1806px;
  top:574px;
  width:174px;
  height:89px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:170px;
  word-wrap:break-word;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:39px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:1542px;
  top:599px;
  width:60px;
  height:39px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:39px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:1542px;
  top:752px;
  width:60px;
  height:39px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:1806px;
  top:619px;
  width:0px;
  height:0px;
}
#u482_seg0 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:-4px;
  width:194px;
  height:8px;
}
#u482_seg1 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:-5px;
  width:8px;
  height:9px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:1444px;
  top:111px;
  width:257px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
