body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2038px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2007px;
  height:1307px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:45px;
  width:2007px;
  height:1307px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:646px;
  width:2003px;
  visibility:hidden;
  word-wrap:break-word;
}
#u405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:173px;
  width:427px;
  height:760px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:173px;
  width:427px;
  height:760px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:1359px;
  top:173px;
  width:427px;
  height:760px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:111px;
  width:257px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:140px;
  width:174px;
  height:58px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:170px;
  word-wrap:break-word;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:169px;
  width:0px;
  height:0px;
}
#u415_seg0 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-4px;
  width:64px;
  height:8px;
}
#u415_seg1 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-4px;
  width:8px;
  height:34px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:208px;
  width:174px;
  height:58px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:170px;
  word-wrap:break-word;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:237px;
  width:0px;
  height:0px;
}
#u419_seg0 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:45px;
  height:8px;
}
#u419_seg1 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:8px;
  height:57px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:276px;
  width:174px;
  height:58px;
  color:#FF0000;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:170px;
  word-wrap:break-word;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:305px;
  width:0px;
  height:0px;
}
#u423_seg0 {
  border-width:0px;
  position:absolute;
  left:-205px;
  top:-4px;
  width:205px;
  height:8px;
}
#u423_seg1 {
  border-width:0px;
  position:absolute;
  left:-205px;
  top:-4px;
  width:8px;
  height:30px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:-164px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:344px;
  width:174px;
  height:58px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:373px;
  width:0px;
  height:0px;
}
#u427_seg0 {
  border-width:0px;
  position:absolute;
  left:-189px;
  top:-4px;
  width:193px;
  height:8px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:412px;
  width:174px;
  height:89px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:111px;
  width:257px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:457px;
  width:0px;
  height:0px;
}
#u433_seg0 {
  border-width:0px;
  position:absolute;
  left:-355px;
  top:-4px;
  width:355px;
  height:8px;
}
#u433_seg1 {
  border-width:0px;
  position:absolute;
  left:-355px;
  top:-4px;
  width:8px;
  height:108px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:-278px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:501px;
  width:0px;
  height:0px;
}
#u435_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:12px;
}
#u435_seg1 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:4px;
  width:198px;
  height:8px;
}
#u435_seg2 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:4px;
  width:8px;
  height:63px;
}
#u435_seg3 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:59px;
  width:5px;
  height:8px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:-169px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:562px;
  width:102px;
  height:36px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:690px;
  width:91px;
  height:35px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:690px;
  width:52px;
  height:35px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:836px;
  width:91px;
  height:35px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:836px;
  width:52px;
  height:35px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:518px;
  width:174px;
  height:146px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:170px;
  word-wrap:break-word;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:591px;
  width:0px;
  height:0px;
}
#u452_seg0 {
  border-width:0px;
  position:absolute;
  left:-212px;
  top:-4px;
  width:212px;
  height:8px;
}
#u452_seg1 {
  border-width:0px;
  position:absolute;
  left:-212px;
  top:-4px;
  width:8px;
  height:37px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:664px;
  width:0px;
  height:0px;
}
#u454_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u454_seg1 {
  border-width:0px;
  position:absolute;
  left:-252px;
  top:32px;
  width:256px;
  height:8px;
}
#u454_seg2 {
  border-width:0px;
  position:absolute;
  left:-252px;
  top:32px;
  width:8px;
  height:10px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:-159px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:713px;
  width:174px;
  height:55px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:741px;
  width:0px;
  height:0px;
}
#u458_seg0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:57px;
  height:8px;
}
#u458_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:8px;
  height:8px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:509px;
  width:174px;
  height:89px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:1154px;
  width:100px;
  height:60px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:1154px;
  width:100px;
  height:60px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:1184px;
  width:0px;
  height:0px;
}
#u468_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:1154px;
  width:0px;
  height:0px;
}
#u470_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-65px;
  width:8px;
  height:65px;
}
#u470_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-65px;
  width:79px;
  height:8px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-69px;
  width:100px;
  word-wrap:break-word;
}
#u472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:1063px;
  width:100px;
  height:60px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:1154px;
  width:100px;
  height:60px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:1154px;
  width:100px;
  height:60px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:1247px;
  width:100px;
  height:60px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:1214px;
  width:0px;
  height:0px;
}
#u480_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u480_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:59px;
  width:79px;
  height:8px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:55px;
  width:100px;
  word-wrap:break-word;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:1093px;
  width:0px;
  height:0px;
}
#u482_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:111px;
  height:8px;
}
#u482_seg1 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-4px;
  width:8px;
  height:65px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-24px;
  width:100px;
  word-wrap:break-word;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:1247px;
  width:0px;
  height:0px;
}
#u484_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-124px;
  width:8px;
  height:128px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-70px;
  width:100px;
  word-wrap:break-word;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:1184px;
  width:0px;
  height:0px;
}
#u486_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:129px;
  height:8px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:998px;
  width:257px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:554px;
  width:0px;
  height:0px;
}
#u490_seg0 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-4px;
  width:97px;
  height:8px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:615px;
  width:174px;
  height:119px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:170px;
  word-wrap:break-word;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:675px;
  width:0px;
  height:0px;
}
#u494_seg0 {
  border-width:0px;
  position:absolute;
  left:-258px;
  top:-4px;
  width:258px;
  height:8px;
}
#u494_seg1 {
  border-width:0px;
  position:absolute;
  left:-258px;
  top:-4px;
  width:8px;
  height:9px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:-180px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:752px;
  width:174px;
  height:73px;
  color:#FF0000;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:170px;
  word-wrap:break-word;
}
#u498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:1806px;
  top:574px;
  width:174px;
  height:89px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:170px;
  word-wrap:break-word;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:39px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:1542px;
  top:599px;
  width:60px;
  height:39px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:39px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:1542px;
  top:752px;
  width:60px;
  height:39px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:1806px;
  top:619px;
  width:0px;
  height:0px;
}
#u504_seg0 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:-4px;
  width:194px;
  height:8px;
}
#u504_seg1 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:-5px;
  width:8px;
  height:9px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:1444px;
  top:111px;
  width:257px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:38px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:548px;
  width:79px;
  height:38px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:547px;
  width:71px;
  height:43px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:67px;
  word-wrap:break-word;
}
#u514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:548px;
  width:81px;
  height:38px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
