body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:123px;
  width:427px;
  height:760px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:65px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:65px;
  width:174px;
  height:58px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:133px;
  width:174px;
  height:58px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:201px;
  width:174px;
  height:58px;
  color:#FF0000;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:94px;
  width:0px;
  height:0px;
}
#u496_seg0 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-4px;
  width:83px;
  height:8px;
}
#u496_seg1 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-4px;
  width:8px;
  height:64px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:162px;
  width:0px;
  height:0px;
}
#u498_seg0 {
  border-width:0px;
  position:absolute;
  left:-434px;
  top:-4px;
  width:434px;
  height:8px;
}
#u498_seg1 {
  border-width:0px;
  position:absolute;
  left:-434px;
  top:-3px;
  width:8px;
  height:7px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:-266px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:230px;
  width:0px;
  height:0px;
}
#u500_seg0 {
  border-width:0px;
  position:absolute;
  left:-243px;
  top:-4px;
  width:243px;
  height:8px;
}
#u500_seg1 {
  border-width:0px;
  position:absolute;
  left:-243px;
  top:-4px;
  width:8px;
  height:14px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:271px;
  width:174px;
  height:58px;
  color:#FF0000;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:341px;
  width:174px;
  height:58px;
  color:#FF0000;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:411px;
  width:174px;
  height:58px;
  color:#FF0000;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:481px;
  width:174px;
  height:58px;
  color:#FF0000;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:170px;
  word-wrap:break-word;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:300px;
  width:0px;
  height:0px;
}
#u510_seg0 {
  border-width:0px;
  position:absolute;
  left:-423px;
  top:-4px;
  width:423px;
  height:8px;
}
#u510_seg1 {
  border-width:0px;
  position:absolute;
  left:-423px;
  top:-4px;
  width:8px;
  height:60px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:-288px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:370px;
  width:0px;
  height:0px;
}
#u512_seg0 {
  border-width:0px;
  position:absolute;
  left:-409px;
  top:-4px;
  width:409px;
  height:8px;
}
#u512_seg1 {
  border-width:0px;
  position:absolute;
  left:-409px;
  top:-4px;
  width:8px;
  height:73px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:-287px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:440px;
  width:0px;
  height:0px;
}
#u514_seg0 {
  border-width:0px;
  position:absolute;
  left:-386px;
  top:-4px;
  width:386px;
  height:8px;
}
#u514_seg1 {
  border-width:0px;
  position:absolute;
  left:-386px;
  top:-4px;
  width:8px;
  height:102px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:-290px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:510px;
  width:0px;
  height:0px;
}
#u516_seg0 {
  border-width:0px;
  position:absolute;
  left:-368px;
  top:-4px;
  width:368px;
  height:8px;
}
#u516_seg1 {
  border-width:0px;
  position:absolute;
  left:-368px;
  top:-4px;
  width:8px;
  height:115px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:-288px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:551px;
  width:174px;
  height:58px;
  color:#000000;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:170px;
  word-wrap:break-word;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:580px;
  width:0px;
  height:0px;
}
#u520_seg0 {
  border-width:0px;
  position:absolute;
  left:-349px;
  top:-4px;
  width:349px;
  height:8px;
}
#u520_seg1 {
  border-width:0px;
  position:absolute;
  left:-349px;
  top:-4px;
  width:8px;
  height:124px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:-282px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
