body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1973px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1973px;
  height:1827px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1973px;
  height:1827px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:906px;
  width:1969px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:89px;
  width:427px;
  height:760px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:89px;
  width:427px;
  height:760px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:956px;
  width:427px;
  height:760px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:956px;
  width:427px;
  height:760px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:760px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:89px;
  width:427px;
  height:760px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:33px;
  width:289px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:56px;
  width:174px;
  height:58px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:134px;
  width:174px;
  height:81px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:170px;
  word-wrap:break-word;
}
#u851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:232px;
  width:174px;
  height:58px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:310px;
  width:174px;
  height:105px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:85px;
  width:0px;
  height:0px;
}
#u855_seg0 {
  border-width:0px;
  position:absolute;
  left:-414px;
  top:-4px;
  width:414px;
  height:8px;
}
#u855_seg1 {
  border-width:0px;
  position:absolute;
  left:-414px;
  top:-4px;
  width:8px;
  height:31px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:-268px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:175px;
  width:0px;
  height:0px;
}
#u857_seg0 {
  border-width:0px;
  position:absolute;
  left:-301px;
  top:-4px;
  width:301px;
  height:8px;
}
#u857_seg1 {
  border-width:0px;
  position:absolute;
  left:-301px;
  top:-4px;
  width:8px;
  height:63px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:-228px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:261px;
  width:0px;
  height:0px;
}
#u859_seg0 {
  border-width:0px;
  position:absolute;
  left:-257px;
  top:-4px;
  width:257px;
  height:8px;
}
#u859_seg1 {
  border-width:0px;
  position:absolute;
  left:-257px;
  top:-4px;
  width:8px;
  height:66px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:-208px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:363px;
  width:0px;
  height:0px;
}
#u861_seg0 {
  border-width:0px;
  position:absolute;
  left:-333px;
  top:-4px;
  width:333px;
  height:8px;
}
#u861_seg1 {
  border-width:0px;
  position:absolute;
  left:-333px;
  top:-4px;
  width:8px;
  height:116px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:-270px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:432px;
  width:51px;
  height:16px;
  color:#999999;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:673px;
  width:51px;
  height:16px;
  color:#999999;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:363px;
  width:0px;
  height:0px;
}
#u867_seg0 {
  border-width:0px;
  position:absolute;
  left:-171px;
  top:-4px;
  width:171px;
  height:8px;
}
#u867_seg1 {
  border-width:0px;
  position:absolute;
  left:-171px;
  top:-4px;
  width:8px;
  height:124px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:432px;
  width:174px;
  height:105px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:485px;
  width:0px;
  height:0px;
}
#u871_seg0 {
  border-width:0px;
  position:absolute;
  left:-122px;
  top:-4px;
  width:122px;
  height:8px;
}
#u871_seg1 {
  border-width:0px;
  position:absolute;
  left:-122px;
  top:-47px;
  width:8px;
  height:51px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:-132px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:485px;
  width:0px;
  height:0px;
}
#u873_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:154px;
  height:8px;
}
#u873_seg1 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:-1px;
  width:8px;
  height:5px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:884px;
  width:385px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:985px;
  width:174px;
  height:149px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:170px;
  word-wrap:break-word;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:1060px;
  width:0px;
  height:0px;
}
#u879_seg0 {
  border-width:0px;
  position:absolute;
  left:-131px;
  top:-4px;
  width:131px;
  height:8px;
}
#u879_seg1 {
  border-width:0px;
  position:absolute;
  left:-131px;
  top:-43px;
  width:8px;
  height:47px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:-135px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:33px;
  width:385px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:33px;
  width:289px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:1203px;
  top:909px;
  width:417px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:1690px;
  top:247px;
  width:174px;
  height:58px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:1690px;
  top:377px;
  width:174px;
  height:99px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:170px;
  word-wrap:break-word;
}
#u891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:1405px;
  top:432px;
  width:51px;
  height:16px;
  color:#999999;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:1405px;
  top:703px;
  width:51px;
  height:16px;
  color:#999999;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:1301px;
  width:51px;
  height:16px;
  color:#999999;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:1542px;
  width:51px;
  height:16px;
  color:#999999;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:1405px;
  top:1301px;
  width:51px;
  height:16px;
  color:#999999;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:1405px;
  top:1542px;
  width:51px;
  height:16px;
  color:#999999;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:1690px;
  top:276px;
  width:0px;
  height:0px;
}
#u903_seg0 {
  border-width:0px;
  position:absolute;
  left:-406px;
  top:-4px;
  width:406px;
  height:8px;
}
#u903_seg1 {
  border-width:0px;
  position:absolute;
  left:-406px;
  top:-151px;
  width:8px;
  height:155px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:-326px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:1690px;
  top:427px;
  width:0px;
  height:0px;
}
#u905_seg0 {
  border-width:0px;
  position:absolute;
  left:-113px;
  top:-4px;
  width:113px;
  height:8px;
}
#u905_seg1 {
  border-width:0px;
  position:absolute;
  left:-113px;
  top:-4px;
  width:8px;
  height:5px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:1690px;
  top:965px;
  width:174px;
  height:99px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:1690px;
  top:1015px;
  width:0px;
  height:0px;
}
#u909_seg0 {
  border-width:0px;
  position:absolute;
  left:-162px;
  top:-4px;
  width:162px;
  height:8px;
}
#u909_seg1 {
  border-width:0px;
  position:absolute;
  left:-162px;
  top:-4px;
  width:8px;
  height:6px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:-130px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
